@import url("https://fonts.google.com/specimen/Lexend+Deca");
@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

main {
  background-color: #335536;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 32% 33%;
  /* grid-template-rows: 200px auto; */
  gap: 10px;
}

.left {
  background-color: hsl(31, 77%, 52%);
  height: 97vh;
  margin: auto;
  border-radius: 10px 0 0 10px;
}

.middle {
  background-color: hsl(184, 100%, 22%);
  height: 97vh;
  margin: auto;
}

.right {
  background-color: hsl(179, 100%, 13%);
  height: 97vh;
  margin: auto;
  border-radius: 0 10px 10px 0;
}

.content-left,
.content-middle,
.content-right {
  padding-top: 4em;
  width: 80%;
  margin: auto;
}

h1 {
  color: #ffff;
  font-size: 1.3cm;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 1.5em;
}

p {
  margin-top: 3em;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.6cm;
  margin-bottom: 3em;
}

button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 20px;
  height: 4em;
  width: 12em;
  cursor: pointer;
  font-family: initial;
  margin-top: 5em;
}

button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}
